#bootstrap-overrides {
    background-color: black;
    max-height: 100%;
}

#footer-overrides,#header-overrides{
    background-color: black;
    height: 15%;
    text-align: center;
    color: rgb(223, 147, 6);
}

#footer-content,#header-content{
    font-size: 300%;
}

  
#footer-overrides {
    bottom: 0;
    position: fixed;
}

html {
    background-color: black;
}